@import url("https://fonts.googleapis.com/css2?family=Raleway");

* {
    font-family: "Raleway";
}
.Main {
    background-color: #faf6f1;
    color: #84A59D;
    border-radius: 15px;
    border: 1px solid #F6BD60;
    padding: 20px 30px;
    width: 80%;
    margin: .5em;
    filter: drop-shadow(2px 5px 2px #F5CAC3);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}


.form-input {
    background-color: #FFB4A2;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 8px;
    border: 2px solid #F28482;
    border-radius: 8px;
    
}

.form-input:focus {
    border: 5px solid #F6BD60;
    outline: none!important;
}

.form-button {
    background-color: #F28482;
    color: #ffffff;
    border: 1px none;
    border-radius: 18px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 1em;
    @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
    }
}

h2 {
    margin: auto;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: #6D6875;
    color: transparent;
    text-shadow: 0px 0px 3px #84A59D;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
  
  .header-desc {
      font-family: "Raleway", sans-serif;
      font-style: italic;
      font-size: 20px;
      color: #F28482;
      margin-bottom: 10px;
  }

  .top-border {
    height: 5px;
    background: #F6BD60;
    margin-bottom: 1em;
}